bin/Debug/netcoreapp2.0/pillar_kata.deps.json
bin/Debug/netcoreapp2.0/pillar_kata.runtimeconfig.dev.json
bin/Debug/netcoreapp2.0/pillar_kata.runtimeconfig.json
obj/Debug/netcoreapp2.0/pillar_kata.AssemblyInfo.cs
obj/Debug/netcoreapp2.0/pillar_kata.csproj.FileListAbsolute.txt